@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #3b2354;
    border-bottom: 1px solid #878686;
    
}

.main-header .logo{
    display: flex;
    margin-left: 20px;
}

.logo-efeito{
    width: 50px;
    filter: invert(1);
    transition: transform 0.3s ease-in-out;
}

.logo-efeito:hover{
    transform: scale(1.1) rotate(5deg);
}



.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-menu a{
    font-family: Poppins;
    font-size: 0.95rem;
    color: #ffff;
    transition: color 0.4s ease;
    text-decoration: none ;
    padding-bottom: 4px;
}

.link-linha {
    position: relative;
    text-decoration: none;
    color: #333;
    padding-bottom: 4px;

}

.link-linha::after {
    content: '';
    background-color: #ffff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.link-linha:hover::after {
    width: 100%;
}


.banner-hero{
    background-color: #3b2354 ;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.banner-conteudo{
    max-width: 850px;
    width: 100%;
}

.banner-conteudo h1{
    color: #ffff;
    font-family: Poppins;
    font-size: 60px;
    margin-bottom: 10px;
    height: 100%;
}

.banner-conteudo p{
    color: #ffff;
    font-family: Inter;
    height: 100%;
    margin-bottom: 30px;
    
}

.btn-chamada{
    text-decoration: none;
    color:#ffff;
    font-family: Inter;
    background-color: #A55AD7;
    padding: 15px 15px;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease-in-out;
    filter: drop-shadow(2px 4px 6px black);
    
}

.btn-chamada:hover{
    background-color: #5b3077;
    
}


.servicos{
    background-color: #0B0A12;
    min-height: 95ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.servicos-conteudo{
    max-width: 700px;
    text-align: center;
    margin-bottom: 50px;
}
.servicos-conteudo h1{
    color: #ffff;
    font-family: Poppins;
    margin-bottom: 10px;


}

.servicos-conteudo h5{
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: Inter;
    color: #A55AD7;
}

.servicos-conteudo p{
    color: #ffff;
    font-family: Inter;
    font-weight: 500;
    
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    width: 100%;

}
    


.card{
    background-color: #2E2540;
    border-radius: 16px;
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
    filter: drop-shadow(2px 4px 6px violet );
}

.card:hover{
    transform: translateY(-4px);
}

.card h3{
    color: #ffff;
    font-family: Poppins;   
}

.card p{
    color: #ffff;
    font-family: Inter;
}